@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700&display=swap');
$color-white: #fff;
$color-black: #000;
$color-blue: #63cdda;
$color-blue-dark: #546de5;
$color-pink: #fd79a8;
$color-blue: #00cec9;
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5% !important;
}

header {
  font-size: 2rem !important;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.81)),
    url('../img/hero__img-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  div.hero__img--container {
    margin-top: 8rem !important;
    p {
      font-size: 1.3rem;
    }
  }
}
//the gradient text
.gradient__text {
  background-image: linear-gradient(to right, $color-blue, $color-blue-dark);
  -webkit-background-clip: text;
  color: transparent;
}

//the social links
.social__link {
  transition: color 0.5s;
  &--facebook {
    &:hover {
      color: #3b5998;
    }
  }
  &--twitter {
    &:hover {
      color: #1da1f2;
    }
  }
  &--github {
    &:hover {
      color: #c32aa3;
    }
  }
}

//the navbar elements
nav a.brand-logo {
  margin-top: 0px !important;
}
nav ul a {
  font-size: 1.2rem;
}
nav ul a.nav__links {
  transition: all 0.5s;
  &:hover,
  &:active {
    background-image: linear-gradient(to right, pink, aqua);
    -webkit-background-clip: text;
    color: transparent;
  }
}
//side nav configurations
.sidenav li > a.sidenav__links {
  font-size: 1.5rem !important;
  transition: ease-in transform 0.4s;
  i {
    transition: transform 0.4s;
  }
  i:hover {
    transform: scale(1.3);
  }
  &:hover {
    transform: scale(1.1);
  }
}
.sidenav li > a.btn {
  transition: all 0.4s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
//the slide button
.slide__to--btn {
  animation-name: hvr-pulse;
  animation-duration: 1s;

  animation-iteration-count: infinite;
  cursor: pointer;
}

.btn__rounded {
  font-weight: 400;
  width: 12rem;
  border-radius: 1000px;
  border: 1px solid rgba($color-white, 0.7);
  display: block;
  margin: 5rem auto 0 auto;
  background: rgba($color-white, 0.7);
  transition: all 0.3s;
  text-align: center;
  color: $color-black;
  &:hover,
  &:active {
    border: 1px solid rgba($color-white, 1);
    background: rgba($color-white, 1);
  }
}
//the skills__details section
section.skill__details {
  margin-top: 4rem;
}
//card hover image
.hover__img {
  position: relative;
  cursor: pointer;

  /* &--html5 {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-black;
      width: 100%;
      height: 0;
    }
  }
  */
}
//card-heading
.card__heading-gradient {
  font-size: 3rem;
  color: transparent;
  background-image: linear-gradient(to right bottom, $color-pink, $color-blue);
  -webkit-background-clip: text;
}

.skills__card {
  transition: all 0.5s;
  &:hover {
    transform: translateY(-1rem);
  }
}
.card {
  .card-image {
    overflow: hidden;
    height: 13rem;
  }
}
//action
.card-action {
  a.wiki__link {
    font-size: 1.2rem !important;

    &:link,
    &:visited {
      color: transparent !important;
      background-image: linear-gradient(
        to right bottom,
        $color-pink,
        $color-blue
      );
      -webkit-background-clip: text;
      transition: all 0.5s;
    }
    &:active,
    &:visited {
      color: transparent !important;
      background-image: linear-gradient(
        to right bottom,
        $color-blue,
        $color-pink
      );
    }
  }
  i.fa-arrow-right {
    font-weight: 100;
  }
}
//margin containers
.mtop4 {
  margin-top: 5rem;
}

//these are the keyframes
@keyframes hvr-pulse {
  35% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    transform: translate(0);
  }
}

//these are the media queries
@media only screen and (max-width: 400px) {
  header {
    height: 83vh;
    div.hero__img--container {
      p {
        font-size: 1rem;
      }
    }
  }
  .skill__details {
    margin-top: 0.3rem !important;
    h2 {
      font-size: 3rem !important;
    }
  }
}
