//these are the styles for the home page
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5% !important;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  font-size: 2rem !important;
}
canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}
nav .main__navigation {
  border-bottom: none;
  box-shadow: none;
}
//the social links
.social__link {
  transition: color 0.5s;
  &--facebook {
    &:hover {
      color: #3b5998;
    }
  }
  &--twitter {
    &:hover {
      color: #1da1f2;
    }
  }
  &--github {
    &:hover {
      color: #c32aa3;
    }
  }
}
//the navbar elements
nav a.brand-logo {
  margin-top: 0px !important;
}
nav ul a {
  font-size: 1.2rem;
}
nav ul a.nav__links {
  transition: all 0.5s;
  &:hover,
  &:active {
    background-image: linear-gradient(to right, pink, aqua);
    -webkit-background-clip: text;
    color: transparent;
  }
}
//side nav configurations
.sidenav li > a.sidenav__links {
  font-size: 1.5rem !important;
  transition: ease-in transform 0.4s;
  i {
    transition: transform 0.4s;
  }
  i:hover {
    transform: scale(1.3);
  }
  &:hover {
    transform: scale(1.1);
  }
}
.sidenav li > a.btn {
  transition: all 0.4s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
//the hero image container

.hero__container {
  margin: 7rem 0 0 0;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  h1,
  h4 {
    font-weight: 100;
  }
  h1 {
    font-size: 6rem;
  }
  h3 {
    font-weight: 100;
    font-size: 2.5rem;
  }
}

//this is for the spinner
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  position: absolute;
  top: 48%;
  left: 48%;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6347;
    z-index: 999999;
  }
}

//these are the animations for the home page
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

//these are the media queries for the home page
@media only screen and(max-width:500px) {
  .hero__container {
    h1 {
      font-size: 5rem;
    }
  }
}
@media only screen and (max-width: 440px) {
  nav.brand-logo {
    font-size: 1rem;
  }
  .hero__container {
    h1 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2.4rem;
    }
  }
}
